:root {
  --bg-main-color: #fcf5eb;
  --bg-header-color: #f7e0bf;
  --bg-document-color: #f4cd97;
  --accent-color: #25d366;
  --accent-varient-color: #00806a;
  --border-color-black: #000000;
  --border-color-gray: #a0a4a6;
  --bg-green-color: #13ae70;
  --bg-green-varient-color: #00ab67;
  --bg-yellow-color: #ffeb5c;
  --bg-yellow-varient-color: #f7df37;
  --bg-blue-color: #74bde8;
  --bg-blue-varient-color: #40abea;
  --document-bg-color: #fcf5eb64;
}

li {
  list-style: none;
  padding-left: 0;
}

label {
  color: var(--accent-color);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--bg-main-color);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 1.25rem;
  font-family: Roboto, Oxygen, sans-serif;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: var(--bg-header-color);
  text-align: center;
  border-bottom: 1px solid var(--border-color-gray);
}

.banner__title {
  margin: 20px;
  color: var(--accent-color);
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.create-button {
  background-color: var(--accent-color);
  margin: 0.1rem 0.2rem;
  text-align: center;
  user-select: none;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  border-color: var(--accent-color);
  border-radius: 2px;
}

.document {
  background-color: var(--bg-document-color);
  height: 100%;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--accent-color);
  scrollbar-face-color: var(--accent-varient-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

.footer {
  background-color: var(--bg-header-color);
  border-top: 1px solid var(--border-color);
  text-align: center;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  width: 32rem;
  background: var(--accent-color);
  border: 1px solid var(--accent-varient-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px var(--border-color-black);
}
